<article class="post">
    <header>
        <h2 class="post__title">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, tempora eligendi ullam voluptates aliquid neque perferendis iste deserunt rerum animi illum ipsum voluptate eveniet distinctio ut. Culpa amet pariatur libero.
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit maxime veniam, alias voluptatem rerum reprehenderit at error soluta similique temporibus distinctio quia eaque quasi incidunt commodi pariatur, exercitationem quam repudiandae!
    </div>
</article>
